processed_data/usaspending/awards_flat.json filter=lfs diff=lfs merge=lfs -text
processed_data/usaspending/usaspending_with_object_class.json filter=lfs diff=lfs merge=lfs -text
processed_data/usaspending/spending_flat.json filter=lfs diff=lfs merge=lfs -text
